* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;   
}

h1
h2
h3 {
    font-weight:900;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #283b42;
}

header h1 {
    padding: 5px;
    font-size: 300%;
    margin: 0.7em;
    color: #D1ddd8;
}

nav {
    display: flex;
    align-items: flex-end;
    margin: 1em;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 475px;
}

nav ul li {
    display: inline-block;
    margin: 2px;
    font-size: 200%;
    font-weight: bold;
    color: #283b42;
}

a {
    text-decoration: none;
}

/* Copied pseudo code from MDN and edited to work for my site */
a:link {
    color: #D1ddd8;
}
  
a:visited {
    color: #D1ddd8;
}
  
a:focus,
a:hover {
    border-bottom: 5px solid;
}
  
a:active {
    color: #85b8cb;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #D1ddd8;
}

.about {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 1.5em 0 1.5em 0;
}

.about p {
    display: flex;
    align-items: center;
    color: #283b42;
}

.about h2 {
    font-size: 250%;
    color: #283b42;
}

img {
    width: 90%;
    height: auto;
    padding: 8px;
    margin: 5px;
    border: 10px;
    border-style: solid;
    border-color: #283b42;
    background-color: #1d6a96;
    border-radius: 8px;
    transition: all 0s ease-in-out;
}
  
img:hover {
    box-shadow: inset 0px 0px 30px rgb(14, 89, 175), 0 0 15px rgba(14, 89, 175);
}

footer {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: column;
    background-color: #283b42;
    padding: 20px;
}

footer h3 {
    font-size: 200%;
    color: #D1ddd8;
}

footer ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 5px;
    color: #D1ddd8;
}

footer ul li {
    font-size: 150%;
}

/* copied media queries from module 2 challenge solution as a baseline to get started */
@media screen and (min-width: 768px) {

    /* on tablets, set columns to only be 50% of the width and not grow */
    .pic 
    /* .horiseon
    .pic2
    .pic3
    .pic4
    .pic5
    .pic6*/ { 
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media screen and (min-width: 992px) {
    .pic
    /* .horiseon
    .pic2
    .pic3
    .pic4
    .pic5
    .pic6 */{ 
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }
}

@media screen and (max-width: 768px) {
    .about {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .about p {
        text-align: center;
    }
}




/* practice code below */

/* 

.horiseon {
    flex: 1 0 25%;
}

.pic2 {
    flex: 0 0 20%;
}

.pic3 {
    flex: 0 0 50%;
}

.pic4 {
    flex: 0 0 45%;
}

.pic5 {
    flex: 0 0 20%;
}

.pic6 {
    flex: 0 0 25%;
}




header {
    padding: 10px;
    border: 10px;
    border-color: black;
    
}

.header h1 {
    display: flex;
    font-size: 50px;
    justify-content: flex-start;
}

.header nav {
    float: right;
    display: flex;
    justify-content: space-between;
}

.header ul {
    padding: 10px;
    font-size: 30px;
}

.header ul li {
    display: inline-block;
    padding-right: 20px;
}

.about {
    display: flex;
    padding: 10px;
}

.about h2 {
    padding-left: 100px;
}

.footer {
    
    flex-direction: column;
    
}

.footer h2 {
    text-align: center;
    
}

.footer p {
    text-align: center;
}

*/






























